* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
  margin: 0px;
}

h1 {
  font: 20px courier;
  border-bottom: solid 1px black;
  padding-bottom: 5px;
}

h2 {
  padding-top: 5px;
  font: 12px courier;
}

header, section, article, aside, footer, nav, ul, hgroup {
  display: block;
}

img {
  display: inline-block;
}

article {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  background: radial-gradient(rgba(40, 44, 255, 0.6), rgba(40, 44, 255, 1));
  color: white;
}

article footer {
  text-align: right;
}

ul:hover {
  background: rgba(56, 56, 56, 1);
}

a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

a:visited, a:link {
  color: white;
}

body {
/*  width: 100%; */
  overflow-y: auto;
  height: 100%;



  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /*
  https://css-tricks.com/old-flexbox-and-new-flexbox/
  https://css-tricks.com/using-flexbox/
  https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  */
  justify-content: center;
  background-image: url("Images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;



  /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_full_page*/
}

#completewrap {
  /*Newer Browser support*/
  width: 100%;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  flex: 1;
 overflow:auto;
}

#topheader {

  background: linear-gradient(rgba(40, 44, 255, 1) 20%, rgba(20, 22, 127, 1)) 80%;

  padding-top: 10px;
  font: 15px courier;
  color: white;
  text-align: center;
}
#csschange{
  position: absolute;
  right: 0;
}
#EaseButton{
  color: #ffffff;
  font: 15px Arial;
}

#topmenu {

  border-bottom: 2px solid black;
  background: rgba(20, 22, 127, 1);
  color: white;
}



#topmenu li {
  display: inline-block;
  list-style: none;
  padding: 5px;
  font: 15px courier;
}



#MainInfo {
  display: flex;
  flex-direction: row;
  align-self: center;
  max-width: 1000px;
  flex: 1;
  overflow: auto;



}

#mainsection {
  flex: 1;
  margin: 20px;
  padding: 20px;
}

#sidenews {
  border: 1px solid black;
  width: 20%;
  margin: 40px 0px;
  padding: 20px;
  background: rgba(45, 45, 45, 5);
  color: rgb(200, 200, 200);
}

#footer {
  text-align: center;
  padding: 20px;
  border-top: 2px solid black;
  background: rgba(1, 1, 1, 0.5);
  color: white;
}

#logo {
  vertical-align: middle;
  align-self: bottom;
}

#news {
  border: solid 1px black;
  padding: 15px;
  /*
#topmenu ul{
  text-align: center; this is for nav bar text to be in the center
}
*/
